@config "../tailwind.config.cjs";
/* @import "tailwindcss"; */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

:root {
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

*,
*::before,
*::after {
	transition:
		background-color 0.3s ease,
		border-color 0.3s ease;
}
